pipeline/adf_hive_hdinsight_integration.json
{
	"name": "adf_hive_hdinsight_integration",
	"properties": {
		"activities": [
			{
				"name": "getinputfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_filemetadata_linked_service",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filterinputfiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getinputfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getinputfiles').output.childItems\n",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith( item().name,'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filterinputfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filterinputfiles').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Getfilecontentvalues",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "az_lookup_linked_dataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "setiputfilelocation",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Getfilecontentvalues",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "inputFilelocation",
								"value": {
									"value": "@activity('Getfilecontentvalues').output.value[0].inputFilelocation\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "processweblogs",
							"type": "HDInsightHive",
							"dependsOn": [
								{
									"activity": "setiputfilelocation",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "setoutputfilelocation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"scriptPath": "hivedatastore/scripts/partitionweblogs.hql",
								"defines": {
									"inputfilelocation": {
										"value": "wasbs://hivedatastore@processsalesdatasa.blob.core.windows.net/inputdata/input.log",
										"type": "Expression"
									},
									"outputfilelication": {
										"value": "wasbs://hivedatastore@processsalesdatasa.blob.core.windows.net/outputdata/\n\n",
										"type": "Expression"
									}
								},
								"scriptLinkedService": {
									"referenceName": "az_filemetada_linked_service",
									"type": "LinkedServiceReference"
								}
							},
							"linkedServiceName": {
								"referenceName": "ad_hdinsight_linkedservice",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "setoutputfilelocation",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Getfilecontentvalues",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "outputfilelication",
								"value": {
									"value": "@activity('Getfilecontentvalues').output.value[0].outputfilelication\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"conatinerName": {
				"type": "String"
			},
			"inputFilelocation": {
				"type": "String"
			},
			"outputfilelication": {
				"type": "String"
			}
		},
		"folder": {
			"name": "adf_hdinsight_hive_pipeline"
		},
		"annotations": []
	}
}