pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "join_dataflow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "join_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"outputfilename": {
								"value": "'@{concat('salescatageory','.csv')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "join_dataflow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('join_dataflow').output.runStatus.metrics, 'sink1')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait_numberofrowswritten",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DataFlowTransformations"
		},
		"annotations": []
	}
}