pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "getinputfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline4",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"containername": {
							"value": "@activity('getinputfiles').output.Value",
							"type": "Expression"
						},
						"filrname": {
							"value": "@activity('getinputfiles').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "getinputfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_hdinsight_blob_dataset_dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"containername": {
				"type": "string"
			},
			"filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "adf_hdinsight_hive_pipeline"
		},
		"annotations": []
	}
}